.main-heading__arrow {
    position: relative;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid white;
        .anchor-link {
            display: block;
            position: absolute;
            top: 15px;
            left: 10px; 
    }
}

@media (min-width: 375px) {
    .main-heading {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background: url("../images/background-mobile.png");
        background-repeat: no-repeat;
        background-position-y: 125px;
        background-position-x: center;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, $dark-blue 100%);
        }        
        &__box {    
            text-align: center;
            padding: 138px 0;
        }
        &__text {
            color: white;
            font-weight: 500;
            font-size: 38px;
            line-height: 45px;
        }
        &__arrow {
            margin-top: 60px;
        }
    }
    .main-heading::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        background: transparent;
        background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    }
}

@media (min-width: 768px) {
    .main-heading {
        text-align: center;
        &__text {
            display: inline-block;
            width: 70%;
        }
    }
}