@font-face {
  font-family: 'TT Norms';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff");
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff");
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff");
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'TT Norms', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(5%, #7A425E), color-stop(55%, #323264), color-stop(25%, #323264));
  background: linear-gradient(to bottom left, #7A425E 5%, #323264 55%, #323264 25%);
}

a {
  text-decoration: none;
}

.image-responsive {
  max-width: 100%;
}

.section-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
}

.slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-box .slider-button {
  margin-right: 14px;
  width: 16px;
  height: 16px;
  display: block;
  background: #24A3FF;
  opacity: 0.2;
  border: none;
  border-radius: 50%;
}

.section-heading-link {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.section-heading-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 9px;
  background-image: url("../images/arrow-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 3px;
  right: -10px;
}

@media (min-width: 375px) {
  .container {
    padding: 0 20px;
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 971px;
    margin: 0 auto;
  }
}

@media (min-width: 991px) {
  .container {
    min-width: 971px;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.header .language-switcher {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #F5F5FA;
}

.header .language-switcher:hover {
  background-color: #F0145A;
}

.header .phone-number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.header .menu-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.header .menu-mobile .burg-menu {
  display: block;
  margin: 2px 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: white;
}

.header .menu-desktop {
  color: #B3B3BA;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  margin-left: 16px;
}

@media (min-width: 375px) {
  .header-box {
    padding: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .header-box__data {
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-box .phone-number a {
    color: #B3B3BA;
  }
  .header-box .header-social-media {
    display: none;
  }
  .header-box .menu-desktop {
    display: none;
  }
  .header-box .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .adress-box {
    display: none;
  }
}

@media (min-width: 766px) {
  .header-box {
    display: grid;
    grid-gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .header-box__data {
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-box .phone-number a {
    color: #B3B3BA;
  }
  .header-box .menu-desktop {
    display: none;
  }
  .header-box .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .adress-box {
    display: none;
  }
}

@media (min-width: 991px) {
  .header-box {
    display: grid;
    grid-gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .header-box .logo-box {
    grid-row: 1/-1;
  }
  .header-box .logo-box .logo {
    width: 155px;
    height: 60px;
  }
  .header-box__menu {
    grid-column: 2/4;
  }
  .header-box__menu .menu-mobile {
    display: none;
  }
  .header-box__menu .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-box__menu .menu-desktop .main-menu {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 15px;
  }
  .header-box__data {
    grid-column: 2/4;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-box__data .header-social-media {
    display: block;
    margin-top: -3px;
  }
  .header-box__data .adress-box {
    display: block;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 30px;
    position: relative;
  }
  .header-box__data .adress-box::after {
    content: "";
    background: #B3B3BA;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 220px;
    right: 0;
    top: 6px;
    bottom: 0;
  }
  .header-box__data .phone-number {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 30px;
    position: relative;
  }
  .header-box__data .phone-number::after {
    content: "";
    background: #B3B3BA;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 170px;
    right: 0;
    top: 6px;
    bottom: 0;
  }
  .header-box__data .language-switch-box {
    margin-right: 20px;
  }
}

.main-heading__arrow {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid white;
}

.main-heading__arrow .anchor-link {
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
}

@media (min-width: 375px) {
  .main-heading {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    background: url("../images/background-mobile.png");
    background-repeat: no-repeat;
    background-position-y: 125px;
    background-position-x: center;
    position: relative;
  }
  .main-heading:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16.67%, rgba(50, 50, 100, 0)), to(#323264));
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  }
  .main-heading__box {
    text-align: center;
    padding: 138px 0;
  }
  .main-heading__text {
    color: white;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
  }
  .main-heading__arrow {
    margin-top: 60px;
  }
  .main-heading::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(16.67%, rgba(50, 50, 100, 0)), to(#323264));
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  }
}

@media (min-width: 768px) {
  .main-heading {
    text-align: center;
  }
  .main-heading__text {
    display: inline-block;
    width: 70%;
  }
}

.features {
  background-color: #323264;
  padding: 40px 0;
}

.features .features-mobile {
  display: none;
}

@media (min-width: 375px) {
  .features-desktop {
    display: none;
  }
  .features-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__subtitle {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F0145A;
  }
  .features__heading {
    margin: 10px 0;
    font-size: 22px;
    color: white;
  }
  .features__description {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
  }
}

@media (min-width: 991px) {
  .features-mobile {
    display: none;
  }
  .features-desktop {
    padding-top: 40px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features-desktop .features-slider {
    margin-top: -10px;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 320px;
  }
  .features-desktop .features-slider .features-slider-point {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25%;
    width: 3px;
    background: #FFFFFF;
    opacity: 0.5;
  }
  .features-desktop .features-slider .features-slider-link {
    position: absolute;
    right: 32px;
    font-size: 32px;
    text-align: right;
    color: #B3B3BA;
  }
  .features-desktop .features-slider a:hover {
    color: #F0145A;
  }
  .features-desktop .features-slider .features-slider-point:hover {
    height: 25%;
    width: 3px;
    background: #F0145A;
    opacity: 1;
  }
  .features-desktop .features-descripiton {
    padding-left: 40px;
    padding-top: 20px;
    width: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-desktop .features-descripiton .features-title {
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
  }
  .features-desktop .features-descripiton .features-text {
    margin: 20px 0;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
  }
}

.service-section {
  background-color: white;
  position: relative;
}

.service-section__box {
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.service-section__shadow {
  position: absolute;
  left: 20px;
  right: 20px;
  display: block;
  height: 10px;
  width: inherit;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
}

.service-section__shadow::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  display: block;
  height: 10px;
  width: inherit;
  background-color: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

.service-desc-box__subheading {
  padding: 15px 0;
  color: #24A3FF;
}

.service-desc-box__service-text {
  padding: 10px 0;
  color: white;
  font-weight: 400;
}

@media (min-width: 375px) {
  .section-heading {
    font-size: 32px;
  }
  .service-desc-box {
    padding: 20px 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
  .service-desc-box__box-icon {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }
  .service-desc-box__subheading {
    font-weight: 500;
    font-size: 18px;
    padding: 15px 0;
  }
  .service-desc-box__service-text {
    padding: 10px 0;
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  .service-section .section-heading {
    padding-bottom: 60px;
  }
  .service-section .service-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service-section .service-desc-box {
    padding: 20px;
    margin-left: -20px;
    max-width: 50%;
  }
  .service-section .service-desc-box__box-icon {
    width: 92px;
    height: 92px;
  }
  .service-section .service-desc-box__subheading {
    color: #24A3FF;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0;
  }
}

@media (min-width: 991px) {
  .service-section .section-heading {
    padding-bottom: 60px;
  }
  .service-section .service-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service-section .service-desc-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    padding: 25px;
    margin-left: -25px;
    max-width: 33.333%;
  }
  .service-section .service-desc-box__box-icon {
    width: 92px;
    height: 92px;
  }
  .service-section .service-desc-box__subheading {
    color: #24A3FF;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0;
  }
  .service-section .service-desc-box__service-text {
    font-size: 18px;
    line-height: 26px;
  }
}

.team-section {
  background-color: white;
}

.team-section__member-card {
  padding: 20px;
  background: #F5F5FA;
  border-radius: 12px;
}

.team-section .credits-box {
  display: block;
  color: #B3B3BA;
}

.team-section .credits-box__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.team-section .credits-box__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 375px) {
  .team-section {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .team-section__member-card {
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
  .team-section__head-box {
    grid-column: span 2;
  }
  .team-section__media-box .member-photo--desktop {
    display: none;
  }
  .team-section__media-box .member-photo--mobile {
    display: block;
    border-radius: 120px;
    margin-top: 10px;
  }
  .credits-box {
    display: block;
    margin: auto 10px;
  }
  .team-section__head-box .section-heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

@media (min-width: 768px) {
  .team-section__member-card {
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
  .team-section__head-box {
    grid-column: span 2;
  }
  .team-section__media-box .member-photo--desktop {
    display: none;
  }
  .team-section__media-box .member-photo--mobile {
    display: block;
    border-radius: 120px;
  }
  .credits-box {
    display: block;
    margin: auto 10px;
  }
  .section-heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

@media (min-width: 991px) {
  .team-section__member-card {
    padding: 0px;
    display: grid;
    height: 500px;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
  .team-section__head-box {
    padding-top: 40px;
    padding-left: 40px;
    grid-column: 2/3;
  }
  .team-section__media-box {
    grid-row: 1/3;
  }
  .team-section__media-box .member-photo--desktop {
    display: block;
  }
  .team-section__media-box .member-photo--mobile {
    display: none;
  }
  .team-section .credits-box {
    margin-left: 40px;
    margin-top: 20px;
  }
  .team-section__head-box .section-heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

.feedbacks {
  background-color: white;
}

.feedbacks .feedbacks-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.feedbacks .feedbacks-box__review-card {
  background: #F5F5FA;
}

.feedbacks .feedbacks-box__review-text {
  color: #686887;
}

.feedbacks .feedbacks-box__review-author {
  font-size: 18px;
  color: #B3B3BA;
}

@media (min-width: 375px) {
  .feedbacks-box a:first-child {
    border-radius: 12px 12px 0px 0px;
  }
  .feedbacks-box a:last-child {
    border-radius: 0px 0px 12px 12px;
  }
  .feedbacks-box__review-card {
    padding: 20px;
    margin: 2px;
  }
  .feedbacks-box__review-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .feedbacks-box__review-author {
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
  }
}

@media (min-width: 991px) {
  .feedbacks-box a:first-child {
    border-radius: 12px 0px 0px 0px;
  }
  .feedbacks-box a:nth-child(3) {
    border-radius: 0px 12px 0px 0px;
  }
  .feedbacks-box a:nth-child(4) {
    border-radius: 0px 0px 0px 12px;
  }
  .feedbacks-box a:last-child {
    border-radius: 0px 0px 12px 0px;
  }
  .feedbacks-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedbacks-box .feedback-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 33%;
  }
  .feedbacks-box__review-card {
    padding: 20px;
    margin: 2px;
  }
  .feedbacks-box__review-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .feedbacks-box__review-author {
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
  }
}

.friends-section {
  background-color: white;
  padding-top: 15px;
}

.friend-logo-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 375px) {
  .friends-section__heading {
    margin: 30px 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
  }
  .friend-logo-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .friend-logo-collection .friend-logo-box {
    width: 50%;
  }
  .friend-logo-box {
    width: 50%;
    height: 90px;
    display: block;
    padding: 10px 10px;
  }
  .friend-logo-box--hillel {
    background-color: #1C4280;
  }
  .friend-logo-box--wannabiz {
    background-color: #143646;
  }
  .friend-logo-box--tapgerine {
    background-color: #F48B30;
  }
  .friend-logo-box--3dlook {
    background-color: #9E4DC3;
  }
  .friend-logo-box--orangear {
    background-color: #FD9339;
  }
  .friend-logo-box--adtelligent {
    background-color: #E2E2E4;
  }
  .friend-logo-box--clickky {
    background-color: #C71C36;
  }
  .friend-logo-box--ecoeasing {
    background-color: #DCF3F9;
  }
  .friend-logo-box--infratek {
    background-color: #EAEAEA;
  }
  .friend-logo-box--citipark {
    background-color: #282240;
  }
  .friend-logo-box--artprintstudio {
    background-color: #1D4568;
  }
  .friend-logo-box--ultimate-card {
    background-color: #000000;
  }
  .friend-logo-box .friend-logo {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 991px) {
  .friend-logo-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
  }
  .friend-logo-collection .friend-logo-box {
    padding: 20px 70px;
    width: 25%;
  }
}

.stories-section {
  background-color: #F5F5FA;
}

.stories-section .stories-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stories-section .stories-cards .stories-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories-section .stories-cards .stories-box__cover {
  background-color: white;
}

@media (min-width: 375px) {
  .stories-section {
    padding: 20px 0;
  }
  .stories-section .stories-cards article:nth-child(n+3) {
    display: none;
  }
  .stories-section .stories-box {
    width: 100%;
    margin: 15px 0;
    border-radius: 8px;
  }
  .stories-section .stories-box .stories-media {
    max-width: 100%;
    height: 189px;
  }
  .stories-section .stories-box .stories-content {
    padding: 20px;
  }
  .stories-section .stories-box .stories-content .stories-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #24A3FF;
  }
  .stories-section .stories-box .stories-content .stories-date {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .stories-section .stories-box .stories-content .stories-text {
    display: none;
  }
  .stories-section .stories-button {
    text-align: center;
  }
  .stories-section .stories-button .stories-link {
    margin: 20px;
    display: inline-block;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    background-color: #24A3FF;
    padding: 15px 50px;
    font-size: 14px;
    text-align: center;
    color: white;
  }
}

@media (min-width: 768px) {
  .stories-block .stories-cardsarticle:nth-child(n+5) {
    display: none;
  }
  .stories-block .stories-box {
    width: 50%;
  }
}

@media (min-width: 991px) {
  .stories-block .stories-cards article:nth-child(n+3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stories-block .stories-cards {
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stories-block .stories-cards .stories-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.333%;
    margin: 15px 0;
    padding: 0 20px;
    border-radius: 8px;
  }
  .stories-block .stories-cards .stories-box .stories-media {
    max-width: 100%;
    height: 233px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stories-block .stories-cards .stories-box .stories-content .stories-text {
    margin-top: 20px;
    padding: 20px 0;
    display: block;
    border-top: solid 4px #E6E6F0;
    font-weight: normal;
    font-size: 16px;
  }
}

.footer {
  background-color: #F5F5FA;
}

@media (min-width: 375px) {
  .footer-block {
    display: grid;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
    border-top: 2px solid #E6E6F0;
    padding: 15px 20px 115px 20px;
  }
  .footer-block__adress-city {
    display: block;
    color: #46466E;
  }
  .footer-block__adress-location {
    display: block;
    margin: 5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #24A3FF;
  }
  .footer-block__adress, .footer-block__contact, .footer-block__copyright {
    text-align: center;
    margin: 10px 0;
  }
  .footer-block .social-media {
    margin-left: -1px;
  }
  .footer-block .copy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
  }
  .footer-block .email-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
  }
  .footer-block .phone-number {
    margin: 20px 0;
  }
}

@media (min-width: 991px) {
  .footer-block {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
  .footer-block__adress, .footer-block__contact, .footer-block__copyright {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-block__adress {
    grid-column: 1/3;
    text-align: left;
  }
  .footer-block__contact {
    text-align: left;
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .footer-block__adress-city {
    margin-top: 10px;
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #323264;
  }
  .footer-block__adress-location {
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
  }
  .footer-block__adress-location::before {
    content: "";
    background: #B3B3BA;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    right: 0;
    top: 14px;
    bottom: 0;
  }
  .footer-block .social-media {
    margin-right: 30px;
  }
  .footer-block .phone-number-link {
    margin-right: 30px;
    font-size: 16px;
    position: relative;
  }
  .footer-block .phone-number-link::before {
    content: "";
    background: #B3B3BA;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    right: 0;
    top: 6px;
    bottom: 0;
  }
  .footer-block .email-link {
    margin-right: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
    position: relative;
  }
  .footer-block .email-link::before {
    content: "";
    background: #B3B3BA;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    right: 0;
    top: 6px;
    bottom: 0;
  }
  .footer-block__copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-block__copyright .copy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
  }
}

/*# sourceMappingURL=style.css.map */
